.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout main {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: calc(2rem + 64px);
}

@media (max-width: 768px) {
  .layout main {
    padding-top: calc(2rem + 64px);
  }
}
